*{
    padding: 0;
box-sizing: 0;
margin: 0;
}
@font-face{
    font-family: cars;
    src: url(assest/static/BigShoulders_24pt-SemiBold.ttf);
}
@font-face{
    font-family: description;
    src: url(assest/LexendDeca-VariableFont_wght.ttf);
}
.Big-container{
    margin: auto;
    display: flex;
    justify-content: center;
    width:  30rem auto;
    height: 65rem auto;
    padding: 80px;
}


        
        
    

.first-container{
     background-color: hsl(31, 77%, 52%);
     border-radius: 10px 0px 0px 10px;
     padding: 20px;


    
}
.second-container{
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
}
.third-container{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
}
h2{
    color: white;
    margin-top: 25px;
    font-family: cars;
}
article{
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 40px;
    font-family: description;
}
button{
    border-radius: 30px;
    height: 45px;
    width: 120px;
    border-color: hsl(0, 0%, 95%);
    margin-top: 50px;
}
.one{
  color: hsl(31, 77%, 52%);  
}
.two{
  color: hsl(184, 100%, 22%);
}
.three{
    color: hsl(179, 100%, 13%);
}
button:hover{
    background-color: transparent;
    cursor: pointer;
    color: white;
}

